### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### IntelliJ IDEA (additional) ###
.idea/
*.iml

### Maven / Gradle build artifacts ###
target/
build/
.gradle/

### Node / other ###
node_modules/
dist/

### Mac OS ###
.DS_Store